.wrap {
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.find {
    width: 1024px;
    display: flex;
    justify-content: space-around;
}

.filterBtn {
    width: 280px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #3882F3;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
}

.icon {
    padding: 0px 17px 0px 25px;
}

.filterBlock {
    width: 280px;
}

.filters {
    width: 280px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    height: 1px;
    color: #D9DFE8;;
    background-color: #D9DFE8;;
    border: none;
}

.filterClear {
    color: #3882F3;
    text-transform: uppercase;
    width: 280px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vacancy {
    width: 700px;
    
}

